<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tipped.css' %}" />
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <script>

        $(document).ready(function () {

            moment.locale("es");

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }

            {% if messages %}
            {% for message in messages %}
            toastr.{ { message.tags } } ("{{message}}");
            {% endfor %}
            {% endif %}


            {% block cargar %} {% endblock %}

        });


        $(document).ready(function () {
            $('#ejemplo').DataTable();
        });

    </script>



</head>

<body>
    <div class="container  py-3">
        <h1 class="text-left py-3 text-center">PRODUCTOS Y DEVOLUCIONES</h1>

        <div class="hero-callout">
            <div id="example_wrapper" class="dataTables_wrapper">
                <a href="/inversa/data/registro"><button type="button" class="btn btn-dark"> Subir Registro</button></a>
                <table id="ejemplo" class="display nowrap dataTable dtr-inline collapsed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Empresa</th>
                            <th>Bodega Fisica</th>
                            <th>Bodega Origen</th>
                            <th>F. Emision</th>
                            <th>Guia Original</th>
                            <th>Guia </th>
                            <th>Nº Boleta</th>
                            <th>Tipo de Orden</th>
                            <th>Estado Beetrack</th>
                            <th>SubEstado Beetrack</th>
                            <th>Comentaro Beetrack</th>
                            <th>Motivo Devolucion</th>
                            <th>SubMotivo Devolucion</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Bultos</th>
                            <th>Sku</th>
                            <th>Fecha Retorno</th>
                            <th>Estado Retorno</th>
                            <th>Estado extra</th>
                            <th>Ingresado por: </th>
                            <th>Botones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <th>{{order.id}}</th>
                            <th>{{order.company_delivery}}</th>
                            <th>{{order.warehouse_delivery}}</th>
                            <th>{{order.warehouse_origin}}</th>
                            <th>{{order.date_issue}}</th>
                            <th>{{order.origin_order}}</th>
                            <th>{{order.order_number}}</th>
                            <th>{{order.ticket_number}}</th>
                            <th>{{order.type_order}}</th>
                            <th>{{order.state}}</th>
                            <th>{{order.sub_state}}</th>
                            <th>{{order.comment}}</th>
                            <th>{{order.reason}}</th>
                            <th>{{order.reason_extra}}</th>
                            <th>{{order.product}}</th>
                            <th>{{order.quantity}}</th>
                            <th>{{order.number_packager}}</th>
                            <th>{{order.sku}}</th>
                            <th>{{order.date_return}}</th>
                            <th>{{order.state_return}}</th>
                            <th>{{order.state_extra}}</th>
                            <th>{{order.created_by}}</th>
                            <th>
                                <a href="shows/{{show.id}}">
                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30"
                                            fill="currentColor" class="bi bi-eye" viewbox="0 0 16 16">
                                            <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg>
                                    </button>
                                </a>
                                <a href="shows/{{show.id}}/edit">
                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30"
                                            fill="currentColor" class="bi bi-pencil mx-4" viewbox="0 0 16 16">
                                            <path
                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </button>
                                </a>
                                <a href="shows/{{show.id}}/destroy">
                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30"
                                            fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>


                </table>

            </div>
            <a href="/shows/new"><button type="button" class="btn btn-dark"> Add a New Show</button></a>
        </div>
    </div>
</body>

</html>