{% extends "base.html" %}
{% block titulo %} PANEL DE SISTEMA {% endblock %} 
{% block contenido %}
{% include "nav.html" %}
<div class="container">
    <h1 class="text-center py-4">Informe de Gestion</h1>

    <iframe width="1280" height="720" src="https://app.powerbi.com/reportEmbed?reportId=de6a2092-e503-4f74-b6c3-67d80da87cc6&autoAuth=true&ctid=a47ddca6-685a-4e7a-beb3-ad9f6f0cf5f8&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>




</div>
{% endblock %}